{% extends "manager/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div id="button" >
    <mu-button color="teal900" href="{% url 'manager:custom-list' %}">
        <mu-icon value="arrow_back" left></mu-icon>返回
    </mu-button>

    <article class="media content-section form">
        <div class="media-body">
            <p class="article-content">
                聯絡人：{{ object.contact }}
                所需欄位：{{ object.field }}
                上架時間：{{ object.date }}
                價格：{{ object.charge }}
                備註：{{ object.note }}
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{ form|crispy }}
                    </fieldset>
                    <div style="margin-left: 40%;">
                        <mu-button type="submit" color="blue300" >
                            <mu-icon value="create" left></mu-icon>修改
                        </mu-button>
                    </div>
                </form>
            </p>
        </div>
    </article>
</div>
{% endblock content %}


