{% extends "manager/base.html" %}

{% block content %}
<div class="form">
    <h2>Post列表</h2>
    <div id="button">
        <mu-button color="teal900" href="{% url 'manager:manager-home' %}">
            <mu-icon value="arrow_back" left></mu-icon>返回
        </mu-button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">使用者</th>
                <th scope="col">活動名稱</th>
                <th scope="col">細項</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr>
                    <th>{{ forloop.counter }}</th>
                    <td>{{ post.author.username }}</td>
                    <td>{{ post.title }}</td>
                    <td><a href="{% url 'manager:post-detail' post.id %}">click me</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}


