{% extends "manager/base.html" %}

{% block content %}
<div class="form">
    <h2>User List</h2>
    <div id="button" >
        <mu-button color="teal900" href="{% url 'manager:manager-home' %}">
            <mu-icon value="arrow_back" left></mu-icon>返回
        </mu-button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">User</th>
                <th scope="col">User Name</th>
                <th scope="col"> </th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <th>{{ forloop.counter }}</th>
                    <td><a href="{% url 'manager:user-posts' user.username %}">{{ user.username }}</a></td>
                    <td>{{ user.first_name }}</td>
                    <td><a href="{% url 'manager:user-detail' user.id %}">Update</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}


