{% extends "account/base.html" %}
{% block content %}
    <div class="form">
        <div>
            <h1 class="mb-3">客製化需求 ({{ page_obj.paginator.count }})</h1>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">聯絡人</th>
                    <th scope="col">所需欄位</th>
                    <th scope="col">連絡時間/上架時間</th>
                    <th scope="col">金額</th>
                    <th scope="col">備註</th>
                </tr>
            </thead>
            {% for custom in customs %}
                <tr>
                <th>{{ forloop.counter }}</th>
                <td>{{ custom.contact }}</td>
                <td>{{ custom.field }}</td>
                <td>{{ custom.date }}</td>
                <td>{{ custom.charge }}</td>
                <td>{{ custom.note }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}


