{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {% comment %} <div>
        <a href="{% url 'account:user-home' %}" class="btn btn-outline-dark btn-sm">Back</a>
    </div> {% endcomment %}
    <div id="button">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-12 col-md-8">
                    <div class="form">
                        <div class="form_top_word">
                            客製化
                        </div>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                {{ form|crispy }}
                            </fieldset>
                            <mu-button type="submit" color="red" style="margin-left: 40%;">
                                Send<mu-icon right value="send"></mu-icon>
                            </mu-button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock content %}