{% extends "manager/base.html" %}
{% block title %}
    login
{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
    {% if request.user.is_superuser  %}
        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Sign Up</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-info" type="submit">sign up</button>
                </div>
            </form>
        </button>
    {% endif %}
{% endblock content %}
